[Unit]
Description = question number one service
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/sinlap/embProject/q1/bin/webcam
StandardOutput=journal+console
StandardError=journal+console
Restart=always
[Install]
WantedBy= multi-user.target
